*{
    padding:0;
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
}

.tooltip{
    outline:2px solid black;
    width:70%;
    height:auto;
    line-height: 1.4;
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    padding-left: 14px;
    margin-top: 10px;
    border-radius: 15px;
}

.icons{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    justify-content: space-between;
}

.cross{
    margin-right: 10px;
}
.region{
    margin-top: 10px;
}

.region b{
    font-size: 18px;
}
.region p{
    color: grey;
    font-size: 15px;
}

.name{
    margin-top: 10px;
}


#region-name{
     font-size: 14px;
}

input[placeholder] {
    width:95%;
    height:35px;
    border-radius: 5px;
    padding-left: 10px;
    border: 1px solid grey;
}

.he .tootiptext{
     visibility: hidden;
     height:25px;
     width:190px;
    
}

.he {
    position: relative;
}

.he[placeholder]{
     position: relative;
}

.he:hover .tootiptext{
   visibility: visible;
   color: red;
   border:1px solid red;
   position:absolute;
   top:40px;
   left:10px;
   opacity: 1;
   border-radius: 5px;
   
   
}

.btn{
    display: flex;
    justify-content: flex-end;
    margin-right: 8px;
    gap:10px;
    margin-bottom: 10px;
    
}

input[type="button"]{
    height:30px;
    width:78px;
    border-radius: 8px;
    margin-top: 15px;
    
}

#one{
    border:1px solid grey;
    background-color: white;
}

#sec{
    border:none;
    background-color: blue;
    color:white;
}


@media (min-width:768px){
    .tooltip{
        display: flex;
        flex:1;
    }
    input[placeholder]{
        width:97%;
    }
}

@media (min-width:1200px){
    input[placeholder]{
        width:98%;
    }
}



